.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}

.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.icon-btn {
  display: grid !important;
  place-content: center;
  font-size: 20px !important;
  cursor: pointer;
}
.icon-btn:hover {
  color: var(--blue);
}

.navlink {
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: none;
  color: var(--black);
}

.ticket-OUVERT,
.ticket-ENCOURS,
.ticket-RESOLU {
  padding: 0.7em;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
}

.ticket-OUVERT {
  background-color: #c4ebc4 !important;

  color: var(--black);
}

.ticket-ENCOURS {
  background-color: #fdcc9b !important;

  color: var(--black);
}

.ticket-RESOLU {
  background-color: #a3c7eb !important;
  color: var(--black);
}
