@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --white: #ffff;
  --black: #474947;
  --blue: #304151;
  --light-blue: #8ea0b480;
  --v-gray: #d3d3d32d;
  --light-gray: #d9d9d9;
  --gray: #b3b1b1;
  --dark-gray: #a8a6a6;
  --v-dark-gray: #727272;
  --v-light-gray: #f7f4f4;
}

body {
  color: var(--black);
}

.navlink {
  color: var(--black);
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

button:hover {
  opacity: 0.97;
}

/* Style the select element */
select {
  color: var(--blue);
  appearance: none;
  padding: 6px 1.5em;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
  text-transform: lowercase !important;
}

select:focus {
  box-shadow: 0 0 5px var(--light-gray);
  border: 1px solid var(--v-dark-gray);
  text-transform: lowercase !important;
}

select option {
  padding: 1em;
  font-size: 13px;
  color: var(--black);
  text-transform: lowercase !important;
  cursor: pointer !important;
}

select option:hover {
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

/**_____________________________________________________________________________________*/
/* ScrollBar.css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.411);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgrey;
}
.MuiTablePagination-caption {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: var(--gray) !important;
}
