.list-params {
  padding: 1.5em 1em 1em;
  border: solid 1px var(--light-gray);
  border-bottom: none;
}
.select-group {
  position: relative;
  width: 150px !important;
}
.select-group .input-sticky-label {
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  top: -1.5em;
  left: 0.2em;
  padding: 0 0.5em;
  background-color: var(--white);
  color: var(--dark-gray);
}

.list-params button {
  display: grid;
  place-content: center;
  padding: 0.5em;

  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;

  background-color: var(--blue);
  color: var(--white);

  border: solid 2px var(--blue);
  border-radius: 3px;
}
