.ticket-popup {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: var(--white);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure the pop-up is above other content */

  padding: 1em;
  overflow-y: scroll;
}
