.ticket-content {
  margin-top: 3em;
  padding: 1.5em;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.ticket-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-objet {
  font-weight: 600;
  font-size: 16px;
  color: var(--v-dark-gray);
  margin-bottom: 0.5em;
}

.ticket-etat {
  font-weight: 600;
  font-size: 13px;
  color: var(--v-dark-gray);
}

.ticket-description {
  font-size: 13px;
  color: var(--black);
}

.ticket-content span {
  font-weight: 600;
  font-size: 13px;
  color: var(--v-dark-gray);
}
.ticket-deadline {
  font-weight: 500;
  font-size: 13px;
  color: var(--v-dark-gray);
}
