.list-item {
  cursor: pointer;
}

.list-item:hover {
  opacity: 0.95 !important;
}

.table-cell {
  gap: 0.3em;
  overflow: hidden;
}

.table-cell .date {
  font-size: 11px;
  /* font-weight: 500; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.table-cell .objet {
  font-weight: 700;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.table-cell .description {
  font-size: 12px;
  color: var(--dark-gray);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-cell button {
  padding: 0.5em;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  margin: 0.5em 0;
  z-index: 99;
}


@media screen and (max-width: 900px) {
  .tdate {
    display: none !important;
  }
}
