.navbar {
  /* border: solid 1px; */
  padding: 1em 10%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 0 1px 1px rgb(0, 0, 0, 0.2);
  z-index: 9999;
}
.navbar .nav-title {
  font-weight: 800;
}
.navbar .nav-user {
  font-size: 12px;
  font-weight: 700;
}
.navbar .nav-params {
  gap: 1em;
}
